.container {
    margin-top: 0%;
    /* margin-top: 50px; */
    /* border: 2px solid black; */
    /* height: 500px; */
    /* width: 500px; */
    /* padding: 80px; */
    /* background-color: cadetblue; */
    /* border-radius: 30px; */
}

body {
    background: #9c9e12
}

.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #555
}

.nav-pills .nav-link.active {
    color: white
}

input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}
.card-body{
    margin-top: 0%;
}
.credit{
    background-color: aqua;
   position: absolute;
    width: 100%;

}
.gradient-custom {
 
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
      linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
      linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
      radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
      radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }
 

  .btn-rounded {
    margin-bottom: 30px;
    margin-left: 10px;
}
  