<app-header></app-header>
<div class="container" *ngIf="products.length==0">
  <div class="card">
    <h5 class="card-title">My Cart</h5>
  </div>
  <div class="center">
    <img
      src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
      alt="">
    <h4>Your cart is empty</h4>
    <h6>Add Item to it now</h6>
    <button class="btn btn-primary" routerLink="/items">Shop Now</button>
  </div>
</div>
<!-- <ng-container *ngIf="products.length !==0">
  <div class="card-table">
    <div class="cart-product">
      <table class=" table table-responsive">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Product Image</th>
            <th>Quantity Increase</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products; let i=index">
            <td>{{item.title}}</td>
            <td>{{item.total | currency:'INR'}}</td>
            <td><img src="{{item.imagePath}}" width="100px" height="100px"></td>
            <td>
              <div class="quantity">
                <button class="btn btn-secondary" (click)="quantityHandle('min',item)">-</button>
                <input class="btn btn-secondary" type="text" value="{{item.quantity}}">
                <button class="btn btn-secondary" (click)="quantityHandle('plus',item)">+</button>
              </div>
            </td>
            <td><button class="btn btn-danger" (click)="removeItem(item)"><i class=" fas fa-trash-alt"></i></button>
            </td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <td><button class="btn btn-danger" (click)="emptyCart()">Empty cart</button></td>
            <td><button class="btn btn-primary" routerLink="/dashboard">Shop More</button></td>
            <td><button class="btn btn-success" routerLink="/chekout" (click)="chekout()">CheckOut</button></td>
            <td><strong>Grand Total: {{grandTotal | currency:'INR'}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
<app-footer></app-footer>  -->
<section class="h-100 gradient-custom" *ngIf="products.length !==0">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4" *ngFor="let item of products">
          <div class="card-header py-3">
            <h5 class="mb-0">Cart item</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                  <img src="{{item.imagePath}}" height="100px" class="w-100" alt="Blue Jeans Jacket" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                  </a>
                </div>
              </div>
              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <p><strong>{{item.title}}</strong></p>
                <p>{{item.offer}}</p>
                <!-- <p>Size: M</p> -->
                <button (click)="removeItem(item)" type="button" class="btn btn-primary btn-sm me-1 mb-2"
                  data-mdb-toggle="tooltip" title="Remove item">
                  <i class="fas fa-trash"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                  title="Move to the wish list">
                  <i class="fas fa-heart"></i>
                </button>
              </div>
              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="d-flex mb-4" style="max-width: 300px">
                  <button class="btn btn-primary px-3 me-2" (click)="quantityHandle('min',item)">
                    <i class="fas fa-minus"></i>
                  </button>
                  <div class="form-outline">
                    <input id="form1" min="0" name="quantity" value="{{item.quantity}}" type="number"
                      class="form-control" />
                    <label class="form-label" for="form1">Quantity</label>
                  </div>
                  <button class="btn btn-primary px-3 ms-2" (click)="quantityHandle('plus',item)">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                <p class="text-start text-md-center">
                  <strong>{{item.total | currency:'INR' }} </strong>
                </p>
              </div>
            </div>
            <!-- <hr class="my-4" /> -->
          </div>
        </div>
        <!-- <div class="card mb-4">
          <div class="card-body">
            <p><strong>Expected shipping delivery</strong></p>
            <p class="mb-0">12.10.2020 - 14.10.2020</p>
          </div>
        </div> -->
        <!-- <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <p><strong>We accept</strong></p>
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
              alt="PayPal acceptance mark" />
          </div>
        </div> -->
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Products
                <span>{{grandTotal | currency:'INR'}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Shipping
                <span>Free Of Cost</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span><strong>{{grandTotal | currency:'INR'}}</strong></span>
              </li>
            </ul>
            <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/chekout">
              Go to checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>