<!-- <app-header></app-header>
<div class="dialog">
<div class="container" id="yo">
    <div class="row product">
        <div *ngIf="products">
            <div class="col-sm-6">
                <img src="{{products.imagePath}}" alt="" height="200px" width="200px">
            </div>
            <div class="col-sm-6">
                <h1 mat-dialog-title>{{products.title}}</h1>
                <div mat-dialog-content>{{products.price | currency:'INR'}}</div>
                <h3 mat-dialog-title>Available offer</h3>
                <ul>
                    <li>{{products.offer}}</li>
                    <li>{{products.soffer}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div> -->

<app-header></app-header>
<div class="container">
    <div class="col-lg-8 border p-3 main-section bg-white">
        <div class="row hedding m-0 pl-3 pt-0 pb-3">
            Product Detail
        </div>
        <div class="row m-0">
            <!-- <div class="col-lg-4 left-side-product-box pb-3">
                <img src="http://nicesnippets.com/demo/pd-image1.jpg" class="border p-3">
                <span class="sub-img">
                    <img src="http://nicesnippets.com/demo/pd-image2.jpg" class="border p-2">
                    <img src="http://nicesnippets.com/demo/pd-image3.jpg" class="border p-2">
                    <img src="http://nicesnippets.com/demo/pd-image4.jpg" class="border p-2">
                </span>
            </div> -->
            <div class="col-lg-4 left-side-product-box pb-3">
                <img src="{{products.imagePath}}" height="200px" >
                <!-- <span class="sub-img">
                    <img src="{{products.imagePath}}" class="border p-2">
                    <img src="{{products.imagePath}}" class="border p-2">
                    <img src="{{products.imagePath}}" class="border p-2">
                </span> -->
            </div>
            <div class="col-lg-8">
                <div class="right-side-pro-detail border p-3 m-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- <span>Who What Wear</span> -->
                            <p class="m-0 p-0">{{products.title}}</p>
                        </div>
                        <div class="col-lg-12">
                            <p class="m-0 p-0 price-pro">{{products.price | currency:'INR'}}</p>
                            <hr class="p-0 m-0">
                        </div>
                        <div class="col-lg-12 pt-2">
                            <h5>Product Detail</h5>
                            <span>{{products.soffer}}
                            </span>
                            <hr class="m-0 pt-2 mt-2">
                        </div>
                        <div class="col-lg-12">
                            <p class="tag-section">{{products.offer }}</p>
                        </div>
                        <!-- <div class="col-lg-12">
                            <h6>Quantity :</h6>
                            <input type="number" class="form-control text-center w-100" value="1">
                        </div> -->
                        <div class="col-lg-12 mt-3">
                            <div class="row">
                                <div class="col-lg-6 pb-2">
                                    <a *ngIf="!cart" class="btn btn-danger w-100" (click)="addToCart(products)">Add To
                                        Cart</a>
                                    <a *ngIf="cart" class="btn btn-danger w-100" (click)="removeCart(products)">Remove
                                        Cart</a>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn btn-success w-100">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center pt-3">
                <!-- <h4>More Product</h4> -->
            </div>
        </div>
        <div class="row mt-3 p-0 text-center pro-box-section" >
            <div class="col-lg-3 pb-2"  >
                <!-- <div class="pro-box border p-0 m-0"  >
                    <img src="{{item.imagePath }}">

                </div> -->
                <!-- <div  class="pro-box border p-0 m-0" *ngFor="let item of productsList">
    
                    <img src="{{item.imagePath}}" alt="">
                </div> -->
            </div>
            <!-- <div class="col-lg-3 pb-2">
                <div class="pro-box border p-0 m-0">
                    <img src="http://nicesnippets.com/demo/pd-b-images2.jpg">
                </div>
            </div>  -->
            <!-- <div class="col-lg-3 pb-2">
                <div class="pro-box border p-0 m-0">
                    <img src="http://nicesnippets.com/demo/pd-b-images3.jpg">
                </div>
            </div>  -->
            <!-- <div class="col-lg-3 pb-2">
                <div class="pro-box border p-0 m-0">
                    <img src="http://nicesnippets.com/demo/pd-b-images4.jpg">
                </div>
            </div>  -->

        </div>

    </div>

</div>
