.container {
 
   /* margin-bottom: 5px;  */
   padding: 7px; 
  /* padding: 33px; */
   
}
.google{
 
  padding-top: 20px;
  
} 

.starting{
  background-color:aquamarine;
  padding-bottom: 100px;
  
}
 