<div class="header">
    <ul>
        <li><a class="active">Home</a></li>
        <li><a> seller</a></li>
        <li><a>Contact</a></li>
        <li><a>About</a></li>
        <div class="system">
            <li><a routerLink="/order">Order</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/signup">Register</a></li>
            <button routerLink="/cart-details" class="btn btn primary">
                <i style="font-size: 30px;" class="fas fa-cart-plus">{{totalItem}}</i>
                <div style="font-size: 10px;" class="badge bg-dark"></div>
            </button>
        </div>
        <div class="form group">
            <input type="text" class="form-control" placeholder="Search Product">
            <span class="fas fa-search  search-icon"></span>
        </div>
        <!-- <ul> -->
        <!-- <div class="system">  -->

    </ul>
    <!-- </div> -->
    <!-- </ul> -->
</div>